# Package Managers
*npm-debug.log*
bower_components/
node_modules/
package-lock.json
vendor/
yarn-error.log
yarn.lock

# Development
.eslintcache

# Build
dist/

# Project specific
*.xml
!test/**/*.xml
todo.md
