# Package Managers
*npm-debug.log*
bower_components/
node_modules/
vendor/
yarn-error.log
yarn.lock

# Development
.circleci/
.editorconfig
.eslintrc
.eslintcache
.travis.yml
gulpfile.js
test/
# Project specific
*.xml
todo.md
